#app {
  width: 100%;
  padding: 10px;
}

#app h1 {
  margin-bottom: 0px;
}

#icebreaker {
  font-size: 20px;
  padding: 20px;
  min-height: 7em;
  vertical-align: middle;
  display: flex;
  justify-content: center;
  align-items: center;
}