<!doctype html>

<head>
	<meta charset="utf-8">
	<title>Icebreaker Questions</title>

	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@gitlab-org/csslab@0.0.4/dist/css/csslab.min.css" />
	<link rel="stylesheet" href="./css/main.css" />
</head>

<body class='text-center'>

    <div id="app">
		<h1>Icebreaker Questions</h1>

        <div id='icebreaker'>{{ current_icebreaker }}</div>
        <button v-on:click="pickIcebreaker" class="btn btn-primary">Randomize</button>
    </div>
    
    <script src="./js/app.js"></script>
</body>
</html>
